java/jtg/jtg.core/src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="jtgConfiguration">
		<xs:complexType>
			<xs:attribute name="UsingCache" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchemaDir" type="xs:string" use="required" />
			<xs:attribute name="TemplateDir" type="xs:string" use="required" />
			<xs:attribute name="SourceOutputDir" type="xs:string" use="required" />
			<xs:attribute name="GeneratorOutputDir" type="xs:string" use="required" />
			<xs:attribute name="JarOutputDir" type="xs:string" use="required" />
			<xs:attribute name="SchemaPackage" type="xs:string" use="required" />
			<xs:attribute name="GeneratedPackage" type="xs:string" use="required" />
			<xs:attribute name="Schema" type="xs:string" use="required" />
			<xs:attribute name="ProjectFile" type="xs:string" use="required" />
			<xs:attribute name="StartTemplate" type="xs:string" use="required" />
			<xs:attribute name="TemplateArg" type="xs:string"></xs:attribute>
			<xs:attribute name="Command" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SCHEMA_ONLY" />
						<xs:enumeration value="TEMPLATES_ONLY" />
						<xs:enumeration value="SOURCES_ONLY" />
						<xs:enumeration value="COMPILE_ONLY" />
						<xs:enumeration value="JAR_ONLY" />
						<xs:enumeration value="COMPLETE" />
						<xs:enumeration value="GENERATE" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jtgConfiguration" minOccurs="1"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
