trunk/java/jtg/jtg.core/src/test/scripts/Input/sample.DirectUse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://edgo.org" 
	xmlns:tns="http://edgo.org" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:ci="http://jaxb.dev.java.net/plugin/code-injector"
	jaxb:extensionBindingPrefixes="xjc"
	jaxb:version="2.0">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:simple/>
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="directUseElement" type="tns:DirectUseElement" />

	<xs:complexType name="DirectUseElement">
		<xs:all>
			<xs:element name="employeeElements" type="tns:ArrayOfEmployeeElements" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ArrayOfEmployeeElements">
		<xs:sequence>
			<xs:element name="employeeElement" type="tns:EmployeeElement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployeeElement">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" minOccurs="0" />
			<xs:element name="lastName" type="xs:string" minOccurs="0" />
			<xs:element name="title" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" />
		<xs:attribute name="nullable" type="xs:boolean" />
	</xs:complexType>

</xs:schema>