java/jtg/jtg.core/src/test/scripts/Input/sample.DirectUse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://edgo.org" 
	xmlns:tns="http://edgo.org" 
	xmlns:jtg="http://edgo.org/jtg/ext"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:ci="http://jaxb.dev.java.net/plugin/code-injector"
	jaxb:extensionBindingPrefixes="xjc"
	jaxb:version="2.0">

	<xs:annotation>
		<xs:documentation><![CDATA[The JAXB global binding is used for simple code generation and should be in each schema.
The JTG binding is used to generate classes needed for List <-> HashMap mapping
The JAXB binding defines the List <-> HashMap mapping
For Java 8 it is necessary to create file jaxp.properties in jre/lib with following line:
javax.xml.accessExternalSchema=all
]]></xs:documentation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:simple/>
			</jaxb:globalBindings>
			<!--jtg:binding field="entry" type="JavaType">
				<jtg:hashMap key="key" value="value"/>
			</jtg:binding-->
			<!--jaxb:bindings node="//xs:complexType[@name='ProjectType']//xs:element[@name='typeMapping']">
				<jaxb:property>
					<jaxb:baseType name="org.edgo.jtg.schema.JavaTypeMap&lt;String,JavaTypeSettingsType&gt;"/>
				</jaxb:property>
			</jaxb:bindings-->
		</xs:appinfo>
	</xs:annotation>

	<!--xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:simple/>
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation-->

	<xs:element name="DirectUseElement" type="tns:DirectUseElementType" />

	<xs:complexType name="DirectUseElementType">
		<xs:all>
			<xs:element name="employeeElements" type="tns:ArrayOfEmployeeElements" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ArrayOfEmployeeElements">
		<xs:sequence>
			<xs:element name="employeeElement" type="tns:EmployeeElement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployeeElement">
		<xs:all>
			<xs:element name="firstName" type="xs:string" minOccurs="0" />
			<xs:element name="lastName" type="xs:string" minOccurs="0" />
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="addresses" type="tns:ArrayOfAddress" minOccurs="0" />
		</xs:all>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="nullable" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<xs:complexType name="ArrayOfAddress">
		<xs:sequence>
			<xs:element name="address" type="tns:Address" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="country" type="xs:string" minOccurs="1" />
			<xs:element name="city" type="xs:string" minOccurs="1" />
			<xs:element name="zip" type="xs:string" minOccurs="1" />
			<xs:element name="street" type="xs:string" minOccurs="0" />
			<xs:element name="number" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>

</xs:schema>